[2019-02-21 20:15] zonca opened #2 "Create more realizations of 201901_gaussian_fg_lensed_cmb_realistic_noise"
Just ran 10 high resolution and 100 low resolution simulations with Gaussian foregrounds, lensed CMB and noise, see https://github.com/simonsobs/map_based_simulations/tree/master/201901_gaussian_fg_lensed_cmb_realistic_noise.

They are not very expensive to run (see [the benchmarks](https://github.com/simonsobs/map_based_simulations/tree/master/201901_gaussian_fg_lensed_cmb_realistic_noise#benchma

[2019-02-25 15:17] NicolettaK opened #3 "Produce degraded maps for Gaussian simulations"
I think it would be useful to save the 10 Gaussian realizations produced for the LAT instrument also at the SAT resolution, in order to have maps with the same foreground realization for the two instruments.
This imply the application of a simple degrade function (with `hp.ud_grade` to go from Nside=4096 to Nside=512) to both the dust and synchrotron maps.
@zonca could you do that?

[2019-02-26 06:58] zonca commented on #3
this refers to the simulation https://github.com/simonsobs/map_based_simulations/tree/master/201901_gaussian_fg_lensed_cmb_realistic_noise

[2019-02-27 17:06] NicolettaK commented on #3
It was just to have them ready for everyone. But I agree it is simple for users to do the `ud_grade` if need.

[2019-02-27 20:10] zonca commented on #3
thinking better about this, one option would be to avoid using `ud_grade` at all as it can add artifacts to a map and produce LAT simulations natively at 512.
I could take the first 10 realizations at 512 and rerun them adding also LAT channels.
Would anyone be interested in those?

[2019-03-24 00:00] zonca commented on #3
no feedback, I'll reopen if anyone asks for them

[2019-03-24 00:00] #3 closed

[2019-03-25 04:54] #2 closed

[2019-04-19 20:57] msyriac opened #5 "Decide on coordinate system for maps"
The last run of map-based sims had an inconsistency where the Galactic foregrounds were in Galactic coordinates, but the noise sims were in Equatorial coordinates: https://github.com/simonsobs/so_pysm_models/issues/35 (The coordinates of the other components do not matter because the extragalactic universe is isotropic)

Let's use this issue to decide what coordinates our map-based simulations wil

[2019-04-20 05:16] keskitalo commented on #5
Since changing coordinate systems is not lossless, it seems best to output in the system that best serves scientific analysis. It is easy enough to rotate maps for visualizing systematics. Large and multi patch analysis would likely lean towards galactic coordinates.

[2019-04-20 05:38] mattyowl commented on #5
I think it should be equatorial coordinates. I can't think of a good
reason why you'd produce the real maps in anything else. Certainly for
clusters / sources that's the natural system to use.

Cheers
Matt

On 2019/04/19 22:57, Mathew S. Madhavacheril wrote:

[2019-04-22 22:40] ajvanengelen commented on #5
I vote for Equatorial, for lots of reasons (including ground pick-up) plus it's the traditional system for astronomy at just about every wavelength.

[2019-04-23 19:45] msyriac commented on #5
Given the responses here and on #general on the SO slack, can we close this in favor of Equatorial? @zonca

[2019-04-23 20:02] zonca commented on #5
Yes, Can you please paste the most important comment from slack here and close the issue?

[2019-04-23 20:10] msyriac commented on #5
Since the slack users probably expected privacy, I will not include their usernames:
P1: "there are certain instrumental systematics and noise problems that will show up more cleanly in equatorial coordinates, because the motion of the sky is in right ascension" (with 4 "likes", including mine and from P2)
P2: "I couldn’t agree more with P1, ground pick up is a simple example of systematic that ha

[2019-04-23 20:10] #5 closed

[2019-05-06 20:34] msyriac opened #7 "Include inverse noise variance map with simulation output"
We should provide either an inverse variance map or a hit count map for each frequency as an output for the map-based simulations (both through the API and as a product saved to disk).

[2019-05-08 16:32] zonca commented on #7
yes, we have the white noise level computed here:

https://github.com/simonsobs/mapsims/blob/master/mapsims/SO_Noise_Calculator_Public_20180822.py#L119

and we have the relative hitmap:

https://github.com/simonsobs/mapsims/blob/master/mapsims/noise.py#L109

can you please figure out the right math to get to a inverse variance map? you can either make a pull request or describe the algorithm here

[2019-05-23 20:34] zonca opened #9 "Add available galactic masks"
* [x] @zonca copy masks from scratch to:     /project/projectdirs/sobs/v4_sims/mbs/201904_highres_foregrounds_equatorial/{output_nside}/masks
* [x] @NicolettaK add documentation about masks (how they were generated) in https://github.com/simonsobs/map_based_simulations/blob/master/201904_highres_foregrounds_equatorial/README.md#available-galactic-masks (we can then link to here from other releases

[2019-05-27 12:27] NicolettaK commented on #9
Done in https://github.com/simonsobs/map_based_simulations/pull/10

[2019-05-27 14:14] thibautlouis opened #11 "Planck like simulations"
For the LAT likelihood, we would like to test co-addition with Planck data. So we would need Planck-like simulations. Maybe we should start by generating foregrounds simulations corresponding to Planck frequency. Having Planck noise simulations would also be useful.

[2019-05-27 15:32] NicolettaK commented on #9
@zonca please copy the masks available here:
/global/cscratch1/sd/krach/SObs/FGawg/masks/270519

[2019-05-28 02:08] zonca commented on #11
ok, so nside 4096, delta bandpasses at Planck frequencies, gaussian beams, both LFI and HFI.
All foregrounds components currently available:

* dust, synchrotron, free-free, ame with spatially fixed spectral index
* CIB, ksz, tsz
* CMB

Is this ok?
This will go after the time domain simulations, so after the end of June

[2019-05-28 02:12] msyriac commented on #11
It should also be straightforward to take the existing SONoiseSimulator class in https://github.com/simonsobs/mapsims/blob/master/mapsims/noise.py and extend it to take as input (a) white noise levels for Planck and (b) the hitmaps for each array. We need a volunteer for this.

[2019-05-28 02:21] zonca commented on #9
ok, copied them

[2019-05-28 02:26] zonca commented on #11
yes @msyriac create another class similar to `SONoiseSimulator` for Planck

[2019-06-03 17:06] zonca opened #12 "Simulations with ideal bandpasses"
For the next TOD simulation, we would like to use top-hat bandpasses.
All the map based simulations we have are delta-bandpass, I would like to run:

* high resolution foregrounds with fixed spectral index
* high resolution foregrounds with variable spectral index
* extragalactic

with top-hat bandpasses.

2 questions:

* what figures should I use for bandwidth?
* how do we define flat bandpasses?

[2019-06-03 22:18] mhasself commented on #12
On the first question, please go through @smsimon and the pwg:exm group (they are supposed to track the use of such parameters).

On the second question, I think I disagree with the consensus reached on that S4 page.  The purpose of going from delta function bands to non-zero bandwidth is fully achieved by having almost _any_ bandpass function with realistic width, because the point is just to mak

[2019-06-04 00:39] zonca commented on #12
thanks @mhasself would you do a top-hat response in `K_RJ` or in `K_CMB`?

[2019-06-04 12:24] smsimon commented on #12
@zonca The bandpasses are here: http://simonsobservatory.wikidot.com/detbandpasses
The bolded designs are the final designs.

[2019-06-04 15:54] zonca commented on #12
Thanks @smsimon, I should do the weighting in `K_RJ`, right?

[2019-06-04 15:57] mhasself commented on #12
@smsimon I'd like the top-hat approximations to the real bands to be "owned" by exm.  So whatever the results are, let's make sure they're tracked on the exm page (and referenced by sim groups).

@zonca I think the right weighting is in spectral radiance (SR), a.k.a. "SR" or Jy/sr.  The K_RJ has a pesky nu^2 (but not the same nu^2 as before) in the conversion to I_nu.

[2019-06-04 19:20] #9 closed

[2019-06-10 15:49] zonca opened #13 "Simulations natively in CAR"
Should we reproject or create simulations in CAR natively?

[2019-06-10 15:53] zonca commented on #13
One option would be:

* Run PySM in HEALPix (optionally use higher resolution than normally required to help with reprojection error), do bandpass integration in map domain
* Do `map2alm`, apply smoothing
* From full sky spherical alm -> CAR (can you do that?)
* Noise maps instead are created directly in CAR

[2019-06-10 16:10] aiolasimone commented on #13
From ACT experience, that plan sounds good.

You can definitely go from HEALPix to CAR via `alm`, see [this pixell function](https://github.com/simonsobs/pixell/blob/master/pixell/reproject.py#L170).

If your PySM sims are in galactic coordinates, you do need to rotate the alms from galactic to equatorial. The function that I have linked above supports `gal->equ` rotation.

On the long run having

[2019-06-10 16:16] ajvanengelen commented on #13
The lensing convergence map in the sims was converted to CAR in this way - the original map was in HEALPIX, then I projected to CAR using harmonic transforms.  This allowed me to use the lensing routine in pixell.

Not sure how some of our small-scale science (e.g. measuring tSZ cluster profiles) is affected by this.

[2019-06-10 16:22] jcolinhill commented on #13
I think Andrea's suggestion of use higher resolution than normally required would ideally be enough to avoid serious problems with small-scale science, but we might need higher resolution than WebSky currently provides (can WebSky be run at arbitrary Nside?)

[2019-06-10 16:39] thibautlouis opened #14 "Noise simulations"
We found (Me and Davide Poletti)  that the noise simulations are a bit difficult to analyse due to the very large scale modes (we are currently checking our end of the pipeline, but the noise power spectra are very very red). A good tool to debug would be to have noise simulation with no power for l<30.  Could you produce that ? (the real maps will probably not have power on these scales anyway du

[2019-06-10 16:40] zonca commented on #13
we need a volunteer that explores different options, quantifies the errors and decides the best strategy.

[2019-06-10 16:48] ajvanengelen commented on #13
For the time being, what we have in hand are the websky maps at nside = 4096, so the baseline plan should probably be to reproject those.  Note that some care will have to be applied with the two different pixel window functions.

[2019-06-12 03:21] zonca commented on #12
@smsimon to provide a table of bandwidths

[2019-06-18 11:43] zonca commented on #13
yes, does someone volunteers to do the reprojection of the 3 releases?:

* https://github.com/simonsobs/map_based_simulations/tree/master/201904_highres_foregrounds_equatorial
* https://github.com/simonsobs/map_based_simulations/tree/master/201904_highres_foregrounds_variable_spectral_index
* https://github.com/simonsobs/map_based_simulations/tree/master/201905_extragalactic

please contribute the

[2019-06-18 19:59] msyriac commented on #13
This plan (alm reproject foregrounds, directly project lensed sims, directly generate noise sims) generally sounds good to me. A few things:
1. for ACT work, I use this script for reprojection of Planck : https://github.com/ACTCollaboration/tile-c/blob/master/bin/planck/planck2car.py making sure to use the "map" option for diffuse maps and the "ivar" option for hit counts. We should get this adapt

[2019-06-20 21:22] zonca commented on #12
ok, @smsimon produced a table of center frequencies and bandwidths, @keskitalo suggested they should go into `sotodlib`, anyone volunteers to create a pull request to `sotodlib` for those? Or point me where they should go.

I can then import `sotodlib` from `mapsims` to run the map based simulations.

[2019-06-21 14:21] smsimon commented on #12
@zonca done

[2019-06-21 16:10] msyriac commented on #14
This is resolved now right? Would be good to check power compared to v3 calculator (Colin's request on #so_ps )

[2019-06-21 17:13] zonca commented on #14
maps are ready but haven't been checked yet, see https://github.com/simonsobs/map_based_simulations/pull/15

it would be good to check power

[2019-06-21 17:14] msyriac commented on #14
@jcolinhill did a quick check in his FG presentation on today's call -- but need a more detailed one from PS, yes.

[2019-06-21 23:28] zonca commented on #12
very good thanks, reference: https://github.com/simonsobs/sotodlib/pull/22
I have everything I need to proceed with this.

[2019-06-26 11:26] zonca opened #16 "Reference frame inconsistency for combined simulations"
In #5 we agreed to output all maps in Equatorial.
WebSky Sims instead were not rotated and assumed in Equatorial.
This creates an issue, see my note here: https://github.com/simonsobs/map_based_simulations/commit/de26612db99c6c00f502910ee0a4d60290284ced

Same applies for the TOD simulations.
I could hack the TOD simulations script to get a consistent result but looks error prone.
I'd rather run th

[2019-06-26 11:29] zonca commented on #16
For reference

* Discussion of sky for TOD some https://github.com/simonsobs/so_pysm_models/issues/32
* Implementation of sky in TOAST pipeline https://github.com/simonsobs/sotodlib/pull/23

[2019-06-26 13:27] msyriac commented on #16
I don't think I understand the issue. Even though the isotropy of the sims means it shouldn't matter, what's wrong with continuing to interpret the Websky sims as being in Equatorial coordinates?

[2019-06-26 13:35] zonca commented on #16
If we run a combined simulation with PySM, as we do in TOD sims, we either rotate both galactic and WebSky or none.
So we will have WebSky sims inside TOD sims rotated to Equatorial, while mbs are not. So if people compare them they'll find this discrepancy

[2019-06-27 10:10] thibautlouis commented on #14
I have computed the noise power spectra, they now look sensible, however I would need the hit count map at Nside=4096 to make a detailed comparison. @zonca should it be part of the distributed maps? (it would be useful for a lot of people). I have tried to generate it myself using your map sim code, however, I have an issue 'ModuleNotFoundError: No module named 'pysm.units' despite having installe

[2019-06-27 12:22] zonca commented on #14
Sorry, I recently switched to PySM 3 from GitHub.com/healpy/pysm recently and will update docs in next weeks.
I need some help in https://github.com/simonsobs/map_based_simulations/issues/7 to simplify my job implementing this.

[2019-06-27 12:26] msyriac commented on #16
Ok, that sounds bad. The original websky sims should be assumed to be in Equatorial. They should be rotated only if Galactic coordinates are asked for.

[2019-06-27 12:31] zonca commented on #16
Is this just to minimize the rotations because we will mostly be using Equatorial, right?

[2019-06-27 12:35] zonca commented on #16
In this case I think I can add functionality in PySM 3 to handle this . In PySM 2 this won't work

[2019-06-27 12:42] msyriac commented on #16
Yes, I remember one of the Websky creators asking us to interpret it as in Equatorial coordinates, but I can't find their message now.

[2019-06-27 13:52] zonca commented on #16
I got a better plan:
* I already have all SO galactic input templates rotated to Equatorial
* I'll switch so_pysm_model to use those by default
* TOD sims will use all Equatorial with no need to rotate
* If anyone wants galactic they can rotate after running PySM

[2019-06-27 16:17] zonca commented on #16
ok,
* `so_pysm_models` starting from version 2.0 defaults to equatorial: https://github.com/simonsobs/so_pysm_models/commit/510792a1a94295c4e3d809656fd136f2ad23a1b3
* see https://github.com/simonsobs/sotodlib/pull/23/files#r298258775 for TOD pipeline setup

[2019-06-27 16:17] #16 closed

[2019-06-28 08:21] zonca commented on #14
ok, this is completed, the hitmaps issue is tracked in #7

[2019-06-28 08:21] #14 closed

[2019-06-28 14:45] zonca commented on #7
@thibautlouis see relative hitmaps at https://github.com/simonsobs/map_based_simulations/tree/master/201906_noise_no_lowell

[2019-07-02 23:35] zonca opened #17 "Websky CIB simulations at more frequencies"
@marcelo-alvarez here are the currently available CIB frequencies:

https://portal.nersc.gov/project/cmb/so_pysm_models_data/websky/0.3/

I'm now running with bandpasses (#12), and the lower channel gets down to 21.7GHz. Can you please extend the WebSky CIB until 20 or 21 GHz?

Also, it would be nice to add a few more frequencies also between channels, so that the interpolation is not across a wid

[2019-07-02 23:36] zonca commented on #17
Here is the latest table of frequencies:

![Screenshot 2019-07-03 at 01 33 47](https://user-images.githubusercontent.com/383090/60553310-fd977d00-9d32-11e9-865f-11bdb3c9424a.png)

[2019-07-03 21:12] zonca opened #18 "Increase resolution for next runs"
I plan to switch to nside 1024 for SAT and 8192 for LAT in the next future, as that agrees with the data interface document.

Just keeping track of this for now, let's discuss in August/September

[2019-07-04 08:56] zonca commented on #12
results available, see https://github.com/simonsobs/map_based_simulations/pull/19

[2019-07-04 08:56] #12 closed

[2019-07-05 12:29] zonca opened #21 "Plan new noise simulations"
* Implement new noise model from: https://github.com/simonsobs/V3_calc/blob/master/so_noise_lat_v3_1_CAND.py
* New hitmaps, from TOD simulations?
* Frequency channel correlations?

[2019-07-05 12:39] zonca opened #22 "Bandpass integrated simulations for galactic models with variable spectral index"
@NicolettaK should I run tophat bandpass simulations also for the `SO_?1` models?

[2019-07-06 09:38] NicolettaK commented on #22
We need to do that at some point. Do you want to wait for a feedback from the AWGs?

[2019-07-06 10:31] zonca commented on #22
Ok, yes let's wait, there was a lot of code development for these sims, we might find some issues.

[2019-07-10 18:40] zonca commented on #18
from f2f, no need for 1024 for SAT, keep 512

[2019-07-15 16:39] zonca opened #23 "Do we need CO simulations?"
The CO component is available in `so_pysm_models`, see [the documentation](https://so-pysm-models.readthedocs.io/en/latest/models.html#colines), it has been implemented by @giuspugl.

We need to check more realistic bandpasses and see if we really need to add CO to our simulations. @giuspugl would you volunteer to do this?

[2019-07-15 20:16] giuspugl commented on #23
sure can do that .

[2019-07-30 18:39] zonca commented on #23
@giuspugl would you have any update on this?

[2019-07-30 19:16] zonca commented on #13
@zonca to split this in 2

[2019-07-30 21:00] marcelo-alvarez commented on #13
@msyriac Would it be useful to start with websky-tSZ and CIB in CAR (i.e. leave out kappa and kSZ) for now?

[2019-07-30 21:03] marcelo-alvarez commented on #17
@zonca -- I am in the process of updating / improving the CIB model in websky to correct a bug in the treatment of satellite galaxies. Would it be acceptable to use this updated model for this?

[2019-07-30 23:48] zonca commented on #17
Yes

[2019-07-31 00:15] msyriac commented on #13
We could just do something very simple where we loop through each sim in the final output directory and alm reproject and save it with _car.fits. This is fine since the signal is provided separately from the noise anyway. Is there any reason to prefer doing this at the "template" level? I haven't checked, but I would guess that the number of reprojections needed is not much larger.

[2019-08-01 02:09] zonca commented on #13
as it is very simple, let's do this first, doing it at template level requires PySM 3 to be able to handle CAR pixelization, which is doable but it would require additional development time.

[2019-08-01 20:22] zonca commented on #23
@giuspugl we have some realistic bandpasses, but @smsimon suggested to wait for updated release of this in September. Let's wait for that. Unless someone requests urgently CO maps, then we can do a preliminary release with what is available now.

[2019-09-13 15:48] zonca commented on #17
@marcelo-alvarez @msyriac as discussed today at the FG call, it would be nice to have more CIB maps.

## Choose the number of points in frequency

But not too many! The problem is that if PySM is being used for multiple channels, we need to keep these maps in memory as we loop through channels, so impact on memory consumption is high.
PySM does integration with `trapz`, so basically linear interpo

[2019-09-13 15:53] msyriac commented on #17
Perhaps we can do a test where we bandpass integrate ~545 GHz and/or ~353 GHz websky cib maps with the Planck bandpass for a few versus a dozen and compare the final maps.

[2019-09-13 19:21] marcelo-alvarez commented on #17
@msyriac would it be useful to generate and update to the table above to contain all the frequencies we need (i.e. including ACT, Planck, ..)? then I could run the 5 maps per channel as @zonca suggested.

[2019-09-13 19:25] marcelo-alvarez commented on #17
@zonca wrote:

we have not investigated this in detail. it's also not clear exactly what statistic to use for answering 'how does the CIB differ from linear interpolation?' qualitatively. @msyriac @jcolinhill any thoughts on this?

[2019-09-14 08:26] jcolinhill commented on #17
I agree with Mat's suggestion of comparing a 5-map interpolation to a >>5 map interpolation.  We could just look at difference maps afterward, and see how large any residuals are.  Also power spectra etc

[2019-09-23 17:11] zonca opened #24 "Release of Planck Dirac delta bandpasses simulations (galactic/extragalactic/cmb)"
See the [`201909_highres_foregrounds_extragalactic_planck_deltabandpass`](https://github.com/simonsobs/map_based_simulations/tree/master/201909_highres_foregrounds_extragalactic_planck_deltabandpass) folder in the repository.

See a [notebook with loglog power spectra from NSIDE 512 maps](https://nbviewer.jupyter.org/gist/zonca/237fde577156076288bbec923e5b748e).

Please check the maps and provide

[2019-09-23 17:12] zonca commented on #11
signal maps with Dirac delta bandpasses available, see https://github.com/simonsobs/map_based_simulations/issues/24

[2019-09-23 18:38] zonca commented on #17
@marcelo-alvarez would you have any update on this?

[2019-09-26 15:01] zonca commented on #24
## Spectra of NSIDE 4096 maps

### Galactic

![synchrotron](https://user-images.githubusercontent.com/383090/65699824-84f34480-e033-11e9-8970-a71505af5f80.png)
![freefree](https://user-images.githubusercontent.com/383090/65699826-84f34480-e033-11e9-9dc9-5d6f0012a6c1.png)
![dust](https://user-images.githubusercontent.com/383090/65699827-84f34480-e033-11e9-914c-ba9a80b0adc6.png)
![ame](https://user-

[2019-09-26 18:35] marcelo-alvarez commented on #17
We have now validated the revised CIB model and are in the process of generating CIB maps at a range of frequencies near 353 and 545. @msyriac, what frequency range should I sample in for these two?

[2019-09-26 18:37] marcelo-alvarez commented on #17
In the meantime we will sample with 5 maps per frequency band in the table above.

[2019-09-27 14:30] zonca commented on #13
@aiolasimone, as discussed yesterday, it would be great if you can create a Jupyter Notebook that gets a full sky map in healpix, for example (at NERSC):

* `/project/projectdirs/sobs/v4_sims/mbs/201906_highres_foregrounds_extragalactic_tophat/512/combined/0000/simonsobs_combined_uKCMB_laMFF2_nside512_0000.fits`
* `/project/projectdirs/sobs/v4_sims/mbs/201906_highres_foregrounds_extragalactic_toph

[2019-09-27 15:34] zonca commented on #18
@msyriac can you post here a proposal of a varying NSIDE/resolution for each channel/telescope?

[2019-09-27 16:02] msyriac commented on #18
This is my recommendation for the nside (right) based on the FWHM arcmin (left)
[code]

Pinging @mhasself @damonge @jcolinhill @dpole @thibautlouis

[2019-09-27 16:03] zonca commented on #18
thanks @msyriac can you please also add CAR maps resolution?

[2019-09-27 16:14] jcolinhill commented on #18
overall looks good, but I would prefer if the LAT 30 GHz channel (7.4 arcmin FWHM) is at Nside=2048.  Planck 143 GHz is at roughly the same resolution, and they use Nside=2048.

[2019-09-27 16:33] msyriac commented on #18
Updated recommendation including CAR pixel size in arcmin, and incorporating Colin's request:
[code]

@amaurea should probably look at this too!

[2019-09-27 17:25] mhasself commented on #18
Wouldn't it be easier if the CAR resolutions scale by powers of 2, tied to NSIDE?  I.e. insist that:

   CDELT = C / NSIDE

Mat's suggestion is close to C = 64 degrees... resolutions would be (30,15,7.5, ..., 0.46875) arcminutes.  If you prefer (32,16,8,...,0.5), set C = (1048 deg/15).

[2019-09-27 17:33] msyriac commented on #18
Since the CAR maps will likely be used by source/object/cluster people, I would prefer to have the LAT high frequencies to have identical pixelization (as we do in ACT currently), at the cost of oversampling a bit at low freq and undersampling a bit at high freq. That said, powers of two are good, so here's an update:

[code]

[2019-09-27 18:49] zonca commented on #21
@keskitalo do we have hitmaps from MSS-0001 we can use?

[2019-09-27 19:42] aiolasimone commented on #13
This should do it.
We may want to have some of the AWGs to verify that the re-projection looks fine.
https://gist.github.com/aiolasimone/5f0016dbc0fa160477eea7a45b6eec5b

[2019-09-27 19:50] keskitalo commented on #21
@zonca the simulation is only 20% complete but the hitmaps for the subsets are designed to be very similar. All of the results are being written here: `/global/cscratch1/sd/keskital/pwg-scripts/pwg-tds/mss-0001/genesis/out/00000000`. Hit maps are the files that end with `_hmap.fits`.

[2019-09-28 18:06] zonca commented on #21
get the new noise model: https://github.com/simonsobs/V3_calc/issues/2#issuecomment-536060305

[2019-09-30 04:46] mattyowl commented on #18
Yeah - for cluster stuff it makes life a lot easier if all the maps have the same pixelisation. I think we need NSIDE=8192.

[2019-09-30 15:59] zonca commented on #18
thanks @mattyowl, would you like nside 8192 also for the channel at 2.2 arcmin?

[2019-10-01 05:01] mattyowl commented on #18
Yes please, I think so

[2019-10-01 16:37] msyriac commented on #13
This looks good to me. With @mhasself and @amaurea , we may want to standardize exactly what CAR shape,wcs to use, based on what the map-maker will produce. This is closely related to the discussion in #18 whose results we should enshrine in the analysis interface document.

[2019-10-01 16:38] msyriac commented on #18
Updating based on Matt's suggestion:

[code]

[2019-10-01 17:09] zonca commented on #18
Thanks @mattyowl and @msyriac, I think we should also think about `ell_max` for the harmonic expansions, (used both for reprojections, see #13, or beam smoothing), what about `3*nside-1` for `nside<8192` and `2*nside` for `nside=8192`? Or are we interested in `ell>16384`?

[2019-10-01 17:46] aiolasimone commented on #18
It becomes a bit tricky with localized features, such as point sources or dust clumps close to the galaxy.
We should check that `16384` is enough to make ringing around point sources negligible compared to the noise level.
Map-space operations like source and cluster finding, staking, and such may care a lot about this.

[2019-10-09 21:19] marcelo-alvarez commented on #17
@zonca are the following frequencies acceptable? Values and plot were generated by @msyriac

[21.6, 24.47, 27.33, 30, 35.93, 41.67, 44, 47.4, 63.9, 67.8, 70, 73.7, 79.6, 90.16, 100, 111.49, 128.99, 143, 152.65, 164.48, 188.56, 210.29, 217, 232.03, 256.0, 275.17, 294.33, 305.84, 313.5, 340.21, 353, 374.59, 408.96, 466.56, 525.36, 545, 584.17, 642.97, 728.93, 817.39, 857, 905.86, 994.32]

![2019-10-

[2019-10-09 21:32] zonca commented on #17
Can we add one point above and one below at about the same spacing? Also what about rounding to nearest integer frequency?

[2019-10-09 21:38] marcelo-alvarez commented on #17
I added one above and one below, and rounded to 3 significant digits:

[18.7, 21.6, 24.5, 27.3, 30.0, 35.9, 41.7, 44.0, 47.4, 63.9, 67.8, 70.0, 73.7, 79.6, 90.2, 100, 111, 129, 143, 153, 164, 189, 210, 217, 232, 256, 275, 294, 306, 314, 340, 353, 375, 409, 467, 525, 545, 584, 643, 729, 817, 857, 906, 994, 1080]

[2019-10-09 21:43] zonca commented on #17
It would be interesting to plot this: how many points would a 20% and a 30% bandwidth require to read as a function of frequency?

[2019-10-09 21:54] marcelo-alvarez commented on #17
It looks like it should always be less than about five, by construction, since
@msyriac chose 5 channels per band.

[2019-10-09 22:02] zonca commented on #17
Ok, I'll cross-check that but you can go ahead and produce them at 8192

[2019-10-10 05:31] zonca commented on #18
@aiolasimone who can I ask about operations on point sources?

[2019-10-10 05:32] zonca commented on #13
@mhasself @amaurea any feedback about CAR parameters?

[2019-10-10 05:35] zonca commented on #24
ok, please reopen the issue if you have any feedback

[2019-10-10 05:35] #24 closed

[2019-10-10 13:11] msyriac commented on #18
Let's keep it at 3*nside-1 throughout if possible?

[2019-10-10 14:34] mhasself commented on #13
I can help with constructing valid WCS but some map _user_ should confirm that this is the sort of thing you want, have used in the past, know to work, etc.  The following is implemented in [pixell](https://github.com/simonsobs/pixell/blob/d22e5d67e0215bde312d87b617f464601c08eb6a/pixell/enmap.py#L1089-L1107).

For RA, we fix the system by insisting to have a column of pixels centered at RA=0.  The

[2019-10-10 18:46] marcelo-alvarez commented on #13
We have plans to re-run everything in websky at 8192, hopefully that will be sufficient.

[2019-10-11 14:36] mhasself commented on #13
@msyriac The AdvACT WCS is compatible with the kind I proposed... The generalization of my earlier statement is "pixel-compatibility is guaranteed for two CAR maps if the crpix differs by (n+f) and crval differs by (m+f)*RES, where n and m are integers."

However, WCS validity on the full RA range, using only 360/RES pixels, requires putting the reference point on a pixel edge, which means crpix1

[2019-10-21 15:31] zonca opened #25 "Write SO map based simulations paper"
@simonsobs/mbs @jodunkley

Plan is to have a short summary by end of this week, so we can submit to publication committee, I'll post updates here.

Data release:

* The main product is [**`201906_highres_foregrounds_extragalactic_tophat`**](https://github.com/simonsobs/map_based_simulations/tree/master/201906_highres_foregrounds_extragalactic_tophat)
* The second is noise, unfortunately [`201906_n

[2019-10-24 21:23] zonca commented on #25
I have a first draft, unfortunately I would like to submit this tomorrow, can you please take a quick look?

Read link: https://www.overleaf.com/read/vqzpytsvwmhh
Write/review link on #mbs on Slack

Also attach a PDF for convenience: [Simons_Observatory_Map_Based_Simulations_paper_summary (1).pdf](https://github.com/simonsobs/map_based_simulations/files/3769534/Simons_Observatory_Map_Based_Simulat

[2019-10-25 16:44] zonca commented on #25
I made a small update, added expected number of noise sims and section about analysis
[Simons_Observatory_Map_Based_Simulations_paper_summary.pdf](https://github.com/simonsobs/map_based_simulations/files/3772984/Simons_Observatory_Map_Based_Simulations_paper_summary.pdf)

[2019-10-30 22:17] msyriac commented on #23
Sara Simon @smsimon has alerted me to existence of updated bandpass models here: https://github.com/smsimon/bandpasses/ . She tells me these will be incorporated in to sotodlib, but one could fetch them from there and use them right away.

[2019-10-30 22:29] zonca commented on #23
@msyriac @giuspugl  I don't see that repo, is it private?

[2019-10-30 22:37] msyriac commented on #23
Yes, it's private. I'll ask Sara to make a team or add us to an existing team that gives us access.

[2019-11-01 19:55] smsimon commented on #23
@zonca it is here now: https://github.com/simonsobs/instrument_model. We decided to make a general place where instrument modeling things can go and people/sotodlib can access them.

[2019-11-05 02:03] zonca commented on #23
@giuspugl would you like to check which CO lines impact which channel using those bandpasses?

[2019-11-06 01:55] giuspugl commented on #23
@smsimon for CO studies shall I consider the Bandpassess without any beam effect. Is that ok  ?

[2019-11-07 16:02] zonca opened #28 "Noise simulations directly in CAR"
For noise, can someone volunteer to make a pull request to https://github.com/simonsobs/mapsims/blob/master/mapsims/noise.py to generate noise in CAR? I'll then run the sims. You need to install pysm 3 from github.com/healpy/pysm (clone master and `pip install .` it)

_Originally posted by @zonca in https://github.com/simonsobs/map_based_simulations/issues/13#issuecomment-503068349_

[2019-11-07 16:08] zonca commented on #28
basically replace `synalm` at https://github.com/simonsobs/mapsims/blob/master/mapsims/noise.py#L200 to the equivalent in `pixell`

[2019-11-07 16:17] zonca commented on #13
split implementation of CAR for noise to #28
for foregrounds I think I have all I need to create a first version of the rotation script, I'll ask for more feedback then.

[2019-11-14 06:04] zonca commented on #25
Got positive feedback from @aiolasimone and @jodunkley, sent to SO publication panel now

[2019-12-06 01:39] zonca commented on #21
the available hitmaps are:

[code]

Tubes have slightly different scanning:

![image](https://user-images.githubusercontent.com/383090/70287868-4c838b80-1785-11ea-9dd5-ed6fa8a91b13.png)
![image](https://user-images.githubusercontent.com/383090/70287874-586f4d80-1785-11ea-8c02-aecbcc736a76.png)
![image](https://user-images.githubusercontent.com/383090/70287885-61601f00-1785-11ea-8f22-587fdb373df9.p

[2019-12-06 02:04] zonca commented on #21
## New noise spectra

![image](https://user-images.githubusercontent.com/383090/70289446-a5552300-1789-11ea-8057-4d55dde3f280.png)
![image](https://user-images.githubusercontent.com/383090/70289453-a8e8aa00-1789-11ea-9dd6-7ac1a3b5a953.png)

[2019-12-09 19:47] zonca opened #29 "Low ell filtering for noise spectra"
We have new noise spectra from https://github.com/simonsobs/so_noise_models

# New noise spectra plots

![image](https://user-images.githubusercontent.com/383090/70289446-a5552300-1789-11ea-8057-4d55dde3f280.png)
![image](https://user-images.githubusercontent.com/383090/70289453-a8e8aa00-1789-11ea-9dd6-7ac1a3b5a953.png)

You can run the code in the `demos/` folder to reproduce the plots and play w

[2019-12-10 09:27] dpole commented on #29
As far as I am concerned, the noise was not higher than it should be. The problem is that this spectrum diverges at the very large scales and this creates several difficulties, despite we typically ignore those scales.

A practical thing, which I nevertheless find relevant, is that the amplitude of those very long modes dominates any other signal. This makes impossible any visual inspection of noi

[2019-12-11 10:19] thibautlouis commented on #29
I agree with @dpole, and yes ideally we should also remove the mode in the signal map.

[2019-12-11 16:29] msyriac opened #30 "Implement noise splits."
We should allow the mapsims API to accept a number of splits argument and provide independent noise realizations after scaling the input noise curves by the number of splits.

Some things to decide:
1. default number of splits per tube (proposal, nsplits=4)
2. whether we should save split noise sims to disk

For (2), it depends on how PS (@thibautlouis @xzackli @stevekchoi ), component separation

[2019-12-11 16:42] aiolasimone commented on #30
I think TAC (@jodunkley) may want to chime in on this, but in general assuming/requiring that map-based noise sims will *only* be generated on-the-fly will save us a ***lot*** of disk space.
Random-generator seeds can be saved and shared between AWGs for reproducibility.
As long as we save the seed and the version of the code used, I think we can re-generate the noise set no problem.

[2019-12-11 16:54] msyriac commented on #30
I completely agree, and as you know this is the approach we've taken in ACT. I think it's fine to save a few noise sims to disk for people who are just starting out and want to get an idea of what the "data" looks like, but saving more than a few is unfeasible.

[2019-12-11 17:12] stevekchoi commented on #30
Current ACT power spectrum analysis saves these sims to disk because of all
the cross correlations that need to be computed. For SO, if we have maps
separated into multiple arrays and years and would like to keep them
separated, then one will need to generate the same year/array simulation
maps on the fly multiple times (e.g. for doing map_yr_i_array_j
x map_yr_k_array_l, for i == k, i != k, etc.)

[2019-12-11 18:02] aiolasimone commented on #30
I think that the problem could be easily solved with MPI communication.
You really need to generate the simulation once and broadcasted it to the nodes that use that particular single-array, single-year noise map.
I understand that this requires help to integrate it, as not everyone is familiar with HPC.

[2019-12-11 18:46] stevekchoi commented on #30
Yes, that sounds awesome. I'm far from it but perhaps Thibaut is working on
something close to it.

On Wed, Dec 11, 2019 at 1:03 PM Simone Aiola <notifications@github.com>
wrote:

[2019-12-11 18:49] zonca commented on #30
"easily with MPI", nice oxymoron!

communicating high resolution maps over MPI is very time consuming, it might be quicker to just create them on the fly multiple times. But it is hard to say without benchmarking.
I think we should get some more figures on number of maps / disk space / time to produce them.
I will update the noise model to the new version and then run some benchmarks, once I have

[2019-12-11 18:50] zonca commented on #21
discussing noise splits at https://github.com/simonsobs/map_based_simulations/issues/30

[2019-12-11 19:07] zonca commented on #29
however in signal simulations having power at low-ell is less of a problem because the are full sky and you can remove them later on, right? Anyway I'll keep this in mind and ask feedback again when we will be working on next signal release.

About noise, I wonder if we should ask @keskitalo to run some time domain simulations to estimate a transfer function we can then apply to the map-based simu

[2019-12-11 19:13] zonca commented on #30
@msyriac a question about the splits, are the 4 splits independent from the full map? or should we somehow combine the 4 splits to get the full map?

[2019-12-11 19:37] msyriac commented on #30
If we have k splits s_i each with individual inverse variance maps h_i,
then the full map is:
coadd = \sum s_i h_i / \sum h_i

In our case, the hit maps h_i are just scaled versions h_i = h/k of the original hit map h.

I don't think it is possible (or straightforward) to generate split simulations that are constrained such that they satisfy the above given some coadd map regardless of the number

[2019-12-12 05:16] zonca commented on #17
@marcelo-alvarez any news about this? do we have the 8192 maps at the frequencies above?

[2019-12-12 08:14] zonca commented on #21
about the disk space required to store the simulations with variable NSIDE (#18) and simulating separately the different tubes as the TOD simulations do. I get:

* 120 GB / realization for LAT (14 maps)
* .4 GB / realization for SAT (8 maps)

[2019-12-12 08:15] zonca commented on #30
about the disk space required to store the simulations with variable NSIDE (#18) and simulating separately the different tubes as the TOD simulations do. I get:

* 120 GB / realization / split for LAT (14 maps)
* 0.4 GB / realization / split for SAT (8 maps)

[2019-12-12 08:17] zonca commented on #30
For now I only have some benchmarks of map2alm, alm2map, in the future I want to benchmark the full noise simulation pipeline: https://gist.github.com/zonca/22e83694306f225c80eb9c9a104a8167

[2019-12-12 09:27] zonca commented on #30
also got simulations of the noise pipeline, see the last 2 columns at https://gist.github.com/zonca/22e83694306f225c80eb9c9a104a8167. I still need to add cross-correlation between the channels, but I think this is a reasonable estimate.

[2019-12-12 10:48] dpole commented on #30
Thanks for starting this thread. I agree that it is unfeasible to store MCs of simulations with many splits. For FG studies, I don't think we'll need many in the short term. My preference would be to have split maps for a handful of seeds on disk. I think that 4 for both splits and seeds is a good starting point. I'd discuss larger numbers if we realize we really need more simulations/splits, but

[2019-12-13 01:37] zonca commented on #29
from discussion at today's TOD2Maps call, @mhasself will implement a low-ell damping directly into the noise spectra in `so_noise_models`, current plan is exponential curve that starts at ell=60. Will update here when we have more news.

[2019-12-13 01:52] zonca commented on #30
From today's TOD2Maps call:

* TOD simulations have 5 seasons x 4 splits, should we have the same available via the API?
* based on [benchmarks](https://gist.github.com/zonca/22e83694306f225c80eb9c9a104a8167), even at 8192, time to create 1 on the fly noise map (with lmax=2e4) is ~4 min, simple processing like `map2alm` already takes ~8min, so it should be feasible to do on-the-fly
* we could stor

[2019-12-16 19:05] zonca commented on #23
@smsimon @giuspugl any update on this?

[2019-12-17 00:17] giuspugl commented on #23
Yes, working on that.

[2019-12-17 06:58] giuspugl commented on #23
### CO lines with realistic bandpasses

State of the art bandpasses to date can be found in the [instrument model repo](https://github.com/simonsobs/instrument_model), as pointed out by @smsimon.
#### LAT
I considered bandpasses from the files [MF_wOMT_wLPF_v1_LAT_beam.txt](https://github.com/simonsobs/instrument_model/blob/master/instrument_hardware/modeled_bandpasses/MF/MF_wOMT_wLPF_v1_LAT_beam.

[2020-01-08 20:04] marcelo-alvarez commented on #17
We don't yet have these CIB + Radio maps, @xzackli can you produce these with your xgpaint version? I will produce kSZ and tSZ with the latest websky.

[2020-01-10 15:30] msyriac commented on #28
I'm working on this. Is it alright if I do this in the same PR as the splits issue #30 ?

[2020-01-10 15:43] zonca commented on #28
Yes, thanks

On Fri, Jan 10, 2020, 07:30 Mathew S. Madhavacheril <
notifications@github.com> wrote:

[2020-01-10 17:37] msyriac commented on #28
For the hitmaps, I would like to provide a set of CAR templates at pre-defined resolutions (corresponding to those decided in #18 ). Since the resolution prescriptions might change in the future and since the hitmaps are not final either, I don't think it's a good idea to keep this in the git tree. Do you have a recommendation for a way to store and download these hitmaps as needed?

[2020-01-10 18:50] zonca commented on #28
Yes, let's keep them in a dedicated repo using git lfs, then have them
checked out in /project www and served via http. Like so_pysm_models
templates

On Fri, Jan 10, 2020, 09:37 Mathew S. Madhavacheril <
notifications@github.com> wrote:

[2020-01-10 19:44] msyriac commented on #18
@amaurea  and I chatted about additionally requiring that the CAR maps have integer number of pixels in both directions, and having the different maps be convertible between different pixelizations through integer multiples. We came up with the following, which oversamples the SATs a bit further:

[code]

@mhasself

[2020-01-11 00:02] msyriac commented on #28
I couldn't find this done in so_pysm_models. Could you point me to it?

[2020-01-11 00:34] zonca commented on #28
https://github.com/simonsobs/so_pysm_models/blob/master/so_pysm_models/utils/__init__.py

[2020-01-11 07:22] xzackli commented on #17
Back from vacation, I'll produce these maps.

[2020-01-11 22:13] msyriac commented on #28
@zonca @tskisner @mhasself  I get "Permission denied" when I try to make an so_mapsims_data at:
nersc:/project/projectdirs/cmb/www
@mhasself would it be worth setting up ACL here as well?

[2020-01-13 15:03] tskisner commented on #28
Just a reminder that the NERSC project filesystem is being transitioned to a newer and faster "community filesystem".  /project will be made read-only starting at 7am Tuesday, Jan. 14 (during the maintenance window).  See details here:

https://www.nersc.gov/REST/announcements/message_text.php?id=4287

The new filesystem will be online several days later with all the data synced.

[2020-01-21 04:44] msyriac commented on #28
Thanks. Now I get "Permission denied" in /global/cfs/cdirs/cmb/www . @mhasself @zonca
I'm going to temporarily set up shop in /global/cfs/cdirs/sobs/www/users/msyriac/so_mapsims_data .

[2020-01-21 12:42] mhasself commented on #28
@msyriac You're not in the "cmb" group / project.  And neither am I.  Isn't "sobs" is the right place for this?

[2020-01-21 16:50] zonca commented on #28
thanks @mhasself ,
@msyriac I copied your files to `/global/cfs/cdirs/sobs/www/so_mapsims_data`, I preserved the permissions, but better if you crosscheck.

[2020-01-21 17:09] msyriac commented on #28
Looks good; updated the mapsims data urls.

[2020-01-27 21:18] #28 closed

[2020-01-27 21:19] #30 closed

[2020-01-30 19:14] zonca commented on #21
Implementing noise correlations, see as example cross-corralation between the lowest frequency channels,
[Full notebook](https://gist.github.com/0b91602bb651f251c21064d151999ece)

![image](https://user-images.githubusercontent.com/383090/73481959-aea9d880-4351-11ea-97c1-8f49d97e9ddb.png)

[2020-02-06 23:02] zonca commented on #18
@msyriac what if we increase resolution on 93GHz to the same of 145GHz? so that when they are simulated in a dichroic tube they have the same nside.

[code]

[2020-02-07 00:37] msyriac commented on #18
Yes, that makes sense. Let's go with that.

[2020-02-07 17:10] zonca commented on #17
@xzackli @marcelo-alvarez do you have the maps at nside 8192? are they available at NERSC?

[2020-02-07 17:13] zonca commented on #29
this is implemented in `so_noise_models`, see the `rolloff_ell` argument. https://github.com/simonsobs/so_noise_models/blob/master/so_models_v3/SO_Noise_Calculator_Public_v3_1_1.py#L261

[2020-02-07 17:13] #29 closed

[2020-02-07 20:06] xzackli commented on #17
I'll move them to NERSC and send you the directory this weekend, they've been sitting on tigress.

[2020-02-18 07:32] zonca commented on #17
@xzackli do you have any update on this?

[2020-02-19 18:54] xzackli commented on #17
I found it really annoying to `rsync` the files over, so instead I ran my code on the NERSC cluster. Cori has slow IO, so I don't know if I really saved time. The maps are in, and all groups have `r` permissions.

[code]

[2020-02-20 06:43] zonca commented on #21
Ok,
the HEALPix version of the release is ready, CAR will follow:

https://github.com/simonsobs/map_based_simulations/blob/master/202002_noise

@mhasself can you pelase crosscheck the noise parameters in https://github.com/simonsobs/map_based_simulations/blob/master/202002_noise/noise.toml? in particular `rolloff_ell`.

[2020-02-20 06:47] zonca commented on #18
ok,
this is implemented in `mapsims` and is the default is `nside` is set to None,
see https://github.com/simonsobs/mapsims/blob/master/mapsims/data/so_default_resolution.csv

First release using this is https://github.com/simonsobs/map_based_simulations/tree/master/202002_noise

Next also a foreground simulation natively at these NSIDEs

[2020-02-20 06:47] #18 closed

[2020-02-20 16:54] zonca commented on #22
@NicolettaK next I'll be preparing a new set of foreground simulations, should we use the `_0` or `_1` model? or both?

[2020-02-25 23:43] zonca commented on #17
@xzackli I get permission denied

[2020-02-27 05:59] zonca commented on #25
got approval last month from publication panel. Deadline is end of June.

Need to provide timetable with expected completion dates of all the tasks to TAC.

[2020-03-10 18:17] zonca commented on #17
@xzackli I still get permission denied, you should make your scratch folder readable and executable by the `simonsobs` group:

[code]

[2020-03-11 19:10] xzackli commented on #17
This is terribly embarrassing for me, I must have set the wrong string of numbers. I've applied 777 for now, and I'll look into how to set the right permissions.

[2020-03-11 19:25] zonca commented on #17
no worries, unix permissions are an ancient awkward thing.

you need to fix permissions also for the root folder:

[code]

[2020-03-11 20:27] xzackli commented on #17
Done!

[code]

[2020-03-11 20:31] zonca commented on #17
ls -ld /gl
obal/cscratch1/sd/xzackli/cib
drwxrwx--- 3 xzackli xzackli 4096 Feb 19 09:39
/global/cscratch1/sd/xzackli/cib

On Wed, Mar 11, 2020 at 1:27 PM Zack Li <notifications@github.com> wrote:

[2020-03-11 20:34] xzackli commented on #17
Ok, I've set the permissions on every parent directory.

[code]

[2020-03-11 20:37] xzackli commented on #17
This discussion has reminded me that I was going to adjust the amplitude of the maps to match Planck (i.e. multiplying every map by some number). What's the path for updating these data products?

[2020-03-11 20:52] xzackli commented on #17
@mhasself just taught me how to use Linux permissions, and I've set the `cib` directory to the `sobs` group.

[2020-03-11 23:31] zonca commented on #17
ok, got the files, thanks

On Wed, Mar 11, 2020 at 1:52 PM Zack Li <notifications@github.com> wrote:

[2020-03-17 15:38] zonca commented on #25
Under request from @erminiacalabrese I started to layout the structure of the paper and assigned people sections of the paper to contribute.

For now I have @NicolettaK @marcelo-alvarez @smsimon @mhasself,
I'll email you the write access link, the read-only link is:

https://www.overleaf.com/read/vqzpytsvwmhh

No hurry, I will need them at the beginning of May.

[2020-03-17 15:54] zonca commented on #21
@mhasself do you think `rolloff_ell=50` is fine?

[2020-03-17 16:09] zonca commented on #22
@NicolettaK any feedback about this?

[2020-03-18 09:00] NicolettaK commented on #22
@zonca, Sorry I missed this! If you can do it for both. If it is too expensive then I would go with variable spectral indices.

[2020-03-25 01:34] zonca commented on #25
See below an estimate of the timeline, I guess they are accurate to ~50%,
it depends also on how my other projects are going (I work on SO ~20%).
Based on this timeline:

* Delivery of foreground simulations, mid-May
* Noise simulations in CAR, beginning of June
* Paper draft, end of June

## Estimated Timeline

### Noise simulations

* Generate noise simulations directly in CAR (finalize https://

[2020-03-25 15:30] erminiacalabrese commented on #25
Excellent, thank you!

[2020-04-06 19:14] mhasself commented on #21
Yes, I think ell=50 is acceptable.

Apologies for the slow reply.

[2020-04-06 21:39] zonca commented on #21
thanks!

[2020-04-06 21:39] #21 closed

[2020-04-14 18:26] zonca opened #32 "New foreground simulations: nside 8192 / realistic bandpasses"
* Update all the foregrounds models to 8192
* Use realistic bandpasses from the instrument model instead of tophat

[2020-05-21 23:53] #7 closed

[2020-06-18 23:25] zonca commented on #25
Due to COVID, time off I took, work on other projects, and issues found in the noise simulations, all the MBS work is heavily delayed.

Estimated timeline is now:

* Rerun of the noise simulations in HEALPix: by June 24th in time for the MBS tutorial
* Run of the noise simulations in CAR: by mid-July
* Foreground simulations: by end of August
* Paper draft: mid-September

[2020-06-22 10:35] dpole opened #34 "Differences in the output maps between Planck and SO simulations"
Hi, just wanted to point out that there seems to be some inconsistencies in the maps provided between the Planck delta-bandpass simulations and the SO tophat runs.

* Planck 545 and 857 GHz maps also have polarization
* Non-polarized foregrounds in one case have polarization equal to zero, in the other polarization is missing

Nothing crucial but maybe it is useful to keep it in mind for future ru

[2020-06-22 16:02] zonca commented on #34
yes, that is due to improvements in `mapsims`. New runs should all be consistent.

About Planck polarization, I need to setup a way to handle temperature only maps, will do next time I run Planck.

[2020-06-22 16:02] #34 closed

[2020-07-14 21:33] aamirmali opened #35 "simulations of a targeted source"
I'm wondering if there is a way to implement a simulation of a short duration targeted but high resolution observation and get the appropriate noise and sky models. For instance, if we did a short (hours) targeted scan of a small patch (like I would do if I were scanning a planet) it would have the appropriate noise and map depth etc. from the short scan and include the appropriate sky components

[2020-07-14 22:17] zonca commented on #35
@msyriac is also invited to comment on this.

* you can definitely use MBS for the sky components, see [the latest foreground/CMB simulation](https://github.com/simonsobs/map_based_simulations/tree/master/201906_highres_foregrounds_extragalactic_tophat#combined-maps), you can get the `combined_solardip` map which contains all components, or pick them yourself, is N_side 4096 enough?
* for noise, I

[2020-07-14 23:15] msyriac commented on #35
@aamirmali , this is an interesting use case! For the noise, you can do both, i.e. specify your custom hitmap, and also re-scale the white noise level.
[code]

You provide the hitmap with the hitmap argument (assuming you don't want the default one for that tube), and you provide the new white noise level in white_noise_rms. Note that both the 1/f and white noise parts will be rescaled by the same

[2020-07-15 01:15] aamirmali commented on #35
@msyriac  and @zonca

Thank you so kindly for the helpful replies! fair warning If my questions are novice level, but I wasn't quite able to get things working as expected.

for starters, I'm a bit more familiar with healpy than pixell, so when I got an error when trying the CAR way, I just decided to stick to healpy at least as a first attempt. I instantiated the SONoiseSimulator object with the

[2020-07-15 01:17] zonca commented on #35
best is if you paste the notebook content (drag into the text box) into gist.github.com and put link here

[2020-07-15 01:40] aamirmali commented on #35
https://gist.github.com/aamirmali/d1cff8670b9de2e816c46a777d135d90

sure! thanks so much.

[2020-07-15 01:47] msyriac commented on #35
The noise sim code is set up to simulate dichroic arrays, so the hitmap is expected to be a (2,npix) array, where the first dimension indexes hitmaps for each of the two array.

[2020-07-15 02:58] aamirmali commented on #35
![image](https://user-images.githubusercontent.com/8210066/87498267-3f2c5a80-c60c-11ea-8311-ac9837666948.png)

First pass seems to have worked. Will have to check on the normalization for the WNL, but will check that likely tomorrow (and/or if you know if it assigns all the integration time to that patch with hits). Thanks so much for help getting started!

[2020-07-16 15:52] zonca commented on #35
Correct, the length of the observation defines the noise level in the map, whatever the sky coverage.

Then the hitcounts relatively scales the pixel noise.

When you have validate this could you please share the notebook and also your hitmap?
This is a great example to add to `mapsims_tutorials`

[2020-08-03 04:48] zonca commented on #35
@aamirmali do you mind to share your notebook? I would like to turn it into an example for the tutorials, thanks

[2020-09-08 15:39] zonca commented on #35
@aamirmali do you mind to share your notebook? I would like to turn it into an example for the tutorials, thanks

[2020-09-15 19:18] zonca commented on #22
will do variable spectral index, see https://github.com/simonsobs/map_based_simulations/issues/32

[2020-09-15 19:18] #22 closed

[2020-09-23 21:02] msyriac opened #37 "Hitmap / scan strategy details"
The mapsims origin currently says:
"It also includes simulated relative hitmaps simulated in time domain with TOAST."

Could we add more information somewhere on these time domain simulations? Is there a version number and person associated with the run? (I was specifically interested in knowing the duration of the scan simulated).

[2020-09-23 21:16] msyriac commented on #37
Here's the hitmap for LT3 in equatorial coordinates to help jog memories:
![2020-09-23_16:53:39](https://user-images.githubusercontent.com/3674397/94070573-72375b00-fdc0-11ea-9114-7006d3f6a500.png)

[2020-09-24 13:38] keskitalo commented on #37
@zonca can you tell if you are using an individual hit map or if you combined the hits from the four provided splits?

[2020-09-26 03:08] zonca commented on #37
thanks @msyriac, yes, this needs tracking.

@keskitalo I am using `LT0_UHF1_01_of_20.nominal_telescope_all_time_all_hmap.fits.gz`,  see: https://portal.nersc.gov/project/sobs/so_mapsims_data/v0.2/healpix/, see older discussion here: https://github.com/simonsobs/map_based_simulations/issues/21

What should I do instead? can you also point me to location of hitmaps? The old location is not available

[2020-10-21 20:56] zonca commented on #35
thanks @aamirmali for the notebook, see https://gist.github.com/aamirmali/0bd0bfeab5fb00aa67d05c5e6838c12e

I added a notebook based on this to the `mapsims` tutorials: https://github.com/simonsobs/mapsims_tutorials/blob/master/4a_noise_onthefly_customhitmap.ipynb

[2020-10-21 20:56] #35 closed

[2020-10-29 04:45] zonca commented on #37
@keskitalo was there a decision taken after the email exchange about this? if so can you summarize here?

[2020-10-29 16:31] keskitalo commented on #37
The hitmaps accurately describe `mss-0001` so I don't think there is immediate need to update them. Sara is working to have a more definite answer on what the SO LAT scan strategy will be. Once there is consensus, the hitmap should reflect that.

[2020-10-29 17:58] zonca commented on #37
thanks @keskitalo, for the time being should we replace the single split I used with a combination of all the 20 (right?) splits?

[2020-10-29 18:06] keskitalo commented on #37
You can, if you want. The splits were engineered to provide almost uniform coverage.

[2020-10-30 04:23] zonca commented on #37
thanks @keskitalo,
it looks like combining the splits wouldn't improve the situation much, I think it is not worth it.

I added a pointer to the MSS-0001 docs into the `mapsims` docs. and also to the last noise release https://github.com/simonsobs/map_based_simulations/commit/9de05ade7ac59bfc8959a18eb2406aed233455b9

let's wait for the new hitmaps to prepare another quick release.
@msyriac if you

[2020-10-30 04:23] #37 closed

[2021-01-26 15:48] zonca opened #38 "check reference frame in FITS files"
some files, even if in Equatorial, say reference frame is `G` in the FITS file.
Double-check for next release

[2021-01-27 19:49] zonca commented on #38
Add all info I have about the map into the header (by Mathieu):

[2021-04-23 20:36] zonca commented on #25
## Current status

### Noise

It is composed of 1 realization on disk plus software (`mapsims`) to produce more: https://github.com/simonsobs/map_based_simulations/blob/master/202006_noise/README.md.

* In HEALPix this is ready
* the software should be tested by external people to check that it works fine and documentation is sufficient
* In CAR it is implemented, but I had a normalization issue t

[2022-08-09 16:00] msyriac opened #40 "Noise simulations generated from TOD sims"
In the recent effort to inform LAT scan strategies through TOD simulations, @zatkins2 @AdriJD and others have produced models for generating map-based simulations. These are much more realistic and should replace the simplistic model. It would be good to build an interface to these models, if this has not already been done.

cc: @keskitalo @smsimon

[2022-08-09 17:00] zatkins2 commented on #40
Thanks for bringing this up, Mat. We should try to have one solution that abstracts away as much of the awareness of the products themselves (i.e. works seamlessly for both the TOD simulations and actual data once available). I think there are several layers to this issue and I can update my knowledge of their status. Some **questions** and
- [ ] to-dos

are sprinkled throughout. Please add furthe

[2022-08-09 22:24] msyriac commented on #40
Very good idea to abstract together current sims and future data, strongly in agreement. Some thoughts:

- I wish we had a better alternative to `soapack`, but until then, let's assume it is the way forward.
- Shall we start with whatever filename convention @keskitalo and others have used for the scan sims? I can work the future proposal/policy around that.
- In the future, we want each map relea

[2022-08-17 17:46] zonca commented on #40
@zatkins2 where can I find instructions to load the latest tiled noise simulations for SO?

[2022-08-17 18:07] zatkins2 commented on #40
@msyriac soudns good on soapack and filenames. I guess I meant filenames for the future data as well! The workflow for ACT has been: see if any changes are needed in soapack to accommodate new map products + update soapack, see if any other metadata should be updated (masks, source catalogs, etc), run models (one script) and evaluate them manually (another script, basically look at maps and PS rat

[2022-08-17 18:28] AdriJD commented on #40
@zonca The link that Zach posted would tell you where the tiled noise models are stored. The sims that are drawn from these models are not stored in a shared space I believe. Frank generated them from the models and stored them here: `nersc:/global/homes/j/jia_qu/maps/so_scan`; not sure if they're still there, NERSC seems to be down right now.

For the directional wavelet models we have the opposi

[2022-08-22 15:35] msyriac commented on #40
The short term goal here is to provide a set of noise simulations of SO to the AWGs that they can use to test pipelines. We can have a dozen or so saved on disk and accessible through whatever interface @zonca has already made available. And there should be some on-the-fly generation interface too that is compatible with @zonca's previous work. This is one of the situations where I would advocate

[2022-08-26 06:05] zonca commented on #40
I have never written any interface to load maps already available on disk.
What I have in `mapsims` is just for creating noise realizations on the fly, it starts from a configuration file which is used to configure a `MapSim` object, which is then executed to get the maps, see the interface in this notebook:

https://gist.github.com/zonca/5d920fe8269831e0d1aecd88ec7d9d50

which is part of this rel

[2022-08-31 00:46] zonca commented on #32
see #39

[2022-08-31 00:46] #32 closed

[2022-08-31 00:47] zonca commented on #23
in the plan for #39

[2022-08-31 00:47] #23 closed

[2022-08-31 00:47] #17 closed

[2022-09-07 04:10] zonca commented on #40
@AdriJD any update on this topic?

[2022-09-12 19:22] zatkins2 commented on #40
I think my initial suggestion is still the best path forward: a simple wrapper around the `mnms.noise_models.NoiseModel.get_sim` method. The configuration for `mnms` and the code itself does all the work of loading a sim from disk, or generating one on the fly instead, for free. You select which you want to do just with arguments to `get_sim` (on the fly is slow enough that you want to be able to

[2022-09-13 19:34] AdriJD commented on #40
Hi @zonca, sorry about the delay, I am back to work now. I have asked Frank to change the permissions for the folder.

If we focus on the scan strategy noise sims for now (which are based on the only SO TOD sim we have at the moment), I think that Zach's plan is indeed the way to go. We don't want to reinvent the wheel for the I/O routines needed to load up the existing models/maps. Another advant

[2022-09-14 20:09] AdriJD commented on #40
@zonca, Frank's files should be visible now.

[2022-09-19 18:14] zonca commented on #40
I'm trying to load the maps with `soapack` but I get an error: https://gist.github.com/9ae91c3929cda926110958a395b98a18
Anyway, I think it is not very useful to debug this, I'll try again once you release the new set of maps.

[2022-10-12 17:01] msyriac opened #41 "Broken links to documentation"
There are broken links to documentation at the bottom of this page: https://github.com/simonsobs/map_based_simulations/blob/master/201911_lensed_cmb/README.md

[2022-10-13 00:52] zonca commented on #41
thanks, fixed in https://github.com/simonsobs/map_based_simulations/commit/ffbac4b74cf1175aea91bc66d81f890b32d3a4c5

[2022-10-13 00:52] #41 closed